.demo{
    width: 300px;
    height: 300px;
    border: 2px solid blue;
   

    background-image: linear-gradient(rgb(255,103,31) 0%,rgb(255,103,31) 33.3%, 
    white 33.33%,white 66.66%, green 66.66%, green 100%)
    
}

.circle{
    border-radius: 20;
    border: 2px solid blue;
    background-position: center;
}
